on boot
    # Smart charging input suspend node
    chown system system /sys/devices/platform/soc/soc:oplus,chg_intf/oplus_chg/battery/mmi_charging_enable
    chmod 0666 /sys/devices/platform/soc/soc:oplus,chg_intf/oplus_chg/battery/mmi_charging_enable
